codespell
coverage
ipykernel
ipython
ipywidgets
isort
notebook
numpydoc
pydata-sphinx-theme
pydocstyle
pydocstyle[toml]
pytest
rstcheck
ruff
sphinx
sphinx-gallery
sphinxcontrib-bibtex
toml-sort
yamllint